@model YummyProject.Models.Category

@{
    ViewBag.Title = "CategoriesAdd";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3 style="text-align:center">Add Category Page</h3>
<hr />


<form method="post">


    <label>Category Name</label>
    <br />
    <div class="text-danger">
        @Html.ValidationMessageFor(x => x.CategoryName)
    </div>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <div style="text-align:center">
        <button class="btn btn-outline-success">Add New Category</button>
    </div>
    <br />
</form>

