<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 ">
            <form action="/Default/DefaultMessages" method="post">
                <div class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ad" name="Name" minlength="2" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-4">

                        <input type="email" class="form-control" id="eposta" name="Email" minlength="4" placeholder="Email" required>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="konu" name="Subject" minlength="4" placeholder="Subject" required>
                    </div>
                    <div class="col-lg-12">
                        <textarea class="form-control" id="mesaj" name="MessageContent" minlength="10" rows="6" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-outline-secondary" type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />