@model YummyProject.Models.Chef


@{
    ViewBag.Title = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 style="text-align:center">Chefs</h2>
<hr />

<form method="post" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.ChefId)


    <label>Image</label>
    <input type="file" name="ImageFile" />

    <hr />
    <br />

    <label>Name</label>
    @Html.TextBoxFor(x => x.ChefName, new { @class = "form-control" })



    <label>Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })


    <hr />
    <br />

    <label>Descripton</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = " form-control" })

    <hr />
    <br />



    <button class="btn btn-outline-success">Save Changes</button>






</form>



