@model YummyProject.Models.ChefSocial


@{
    ViewBag.Title = "AddChefSocials";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<br />
<h3 style="text-align:center">Add Chef Social Media Page</h3>

<hr />

<form method="post" enctype="multipart/form-data" class="form-control">

    @Html.HiddenFor(x => x.ChefSocialId)

    @Html.HiddenFor(x => x.ChefId)

    <label>Select Social Media</label>
    @Html.DropDownListFor(x => x.Icon, (List<SelectListItem>)ViewBag.Logolar, new { @class = "form-control" })
    <br><br>


    <br />
    <label>Url</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br />


    <button class="btn btn-outline-success">Add</button>

</form>




